i {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 1.0rem;
    padding-right: 0.1rem;
    color: #d3d3d3;
}

.filled {
    color: red;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
} 