<div class="login-container">
     <img src="../../assets/image/film.png " class="film">
     <div class="logo"> Rotten Eggs</div>
     <div class="desc">Looking for honest and entertaining movie reviews? Welcome to Rotten Eggs, where we crack open the latest films and serve up a fresh perspective on the good, the bad, and the downright rotten. Our reviews are scrambled with humor, insight, and a dash of sass, making us your go-to source for all things cinema. Get ready to discover your new favorite flicks, or find out which ones belong in the compost pile. At Rotten Eggs, we're not afraid to break a few eggs to bring you the best movie reviews around.</div>
</div>
